@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    padding: 50px 100px;
    height: calc(100vh - 100px);
    background-color: #000000;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

lord-icon {
    display: none;
}

.primary {
    color: #03e4be;
}

.name {
    color: #c9f700;
}
.name-projects {
font-size: 1.5rem;
}
.jazzeus {
    color: #03e4be;
    font-size: 40px;
}

/*header {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    text-align: center;*/
/*    padding: 4px;*/
/*    background: #2196f3;*/
/*    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;*/
/*}*/

/*header a {*/
/*    !*48px da Root (hier 16px) ist*!*/
/*    font-size: 3rem;*/
/*    margin-right: 20px;*/
/*}*/

.img-jzlogo {
    width: 50px;
    height: 50px;
}

header {
    text-align: center;
    position: fixed;
    top: 50px;
    padding: 4px 4px 4px 4px;
    z-index: 10;
    /*background: #2196f3;*/
    /*border: solid 5px #2196f3;*/
    /*box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;*/
}

header a {
    font-size: 2.5rem;
    margin-right: 20px;
}

header img {
    width: 50px;
    height: 50px;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#particles-js {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.title {
    font-weight: 600;
    font-size: 9rem;
}

.title:first-child {
    margin-bottom: -5rem;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right h2 {
    font-size: 2.5rem;
}

.right p {
    font-size: 2rem;
    margin-bottom: 20px;
}

.right hr {
    width: 80%;
}

.socials {
    margin-top: 50px;
    margin-bottom: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.social {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 300ms ease-in-out;
}

.social ion-icon {
    font-size: 3rem;
    margin-bottom: 10px;
}

.social img {
    margin-bottom: 10px;
    width: 45px;
}

.showload {
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease-in;
    transition-delay: var(--delay);
}

.showload.loaded {
    transform: translateY(0);
    opacity: 1;
}

.social:hover {
    color: #00FF00;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    margin-top: 10%;
}

.app {
    display: flex;
    gap: 50px;
}

.app a {
    padding: 20px;
}

#img-html-css {
    width: 50px;
    height: 500px;
}

.projects-title {
    text-align: center;
    font-size: 3rem;
}
.gold {
    color: darkgoldenrod;
}
.center-text {
    text-align: center;
}
#qr-code-img {
    height: 150px;
    width: 150px;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
    .title {
        font-size: 7rem;
        line-height: 5rem;
    }

    .title:first-child {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1300px) {
    .title {
        font-size: 9rem;
        line-height: 7rem;
    }

    .content {
        height: auto;
        flex-direction: column;
        padding-bottom: 150px;
    }

    .left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
    }

    .right {
        height: 80vh;
        width: 100%;
    }

    lord-icon {
        position: absolute;
        display: block;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    header a {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 50px 30px;
    }

    .title {
        font-size: 5rem;
        line-height: 3rem;
    }

    .socials {
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    }

    /* .socials a:last-child {
        margin-top: 10px;
        grid-column: 1 / -1;
    } */
    header a {
        font-size: 1.5rem;
    }
}